{% extends "base.html" %}
{% load static %}

{% block page_header %}

{% endblock %}

{% block content %}
    <div>
        <div class="home-image">
        </div>
    </div>
    <div class="container mt-3">
        <div class="row">
            <!-- Popular Products -->
            <div class="col-12 col-md-4 col-xl-3  px-2">
                <div class="card text-center">
                    <img src="/media/image-not-found.jpg" class="card-img-top" alt="Popular Products">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-xl-3  px-2">
                <div class="card text-center">
                    <img src="/media/image-not-found.jpg" class="card-img-top" alt="Popular Products">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div><div class="col-12 col-md-4 col-xl-3  px-2">
                <div class="card text-center">
                    <img src="/media/image-not-found.jpg" class="card-img-top" alt="Popular Products">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="d-none d-xl-block col-xl-3 px-2">
                <div class="card text-center">
                    <img src="/media/image-not-found.jpg" class="card-img-top" alt="Popular Products">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid my-4">
        <div class="row text-center">
            <div class="col-12 bg-success">
                <h2>addon offers</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <!-- Popular Products -->
            <div class="col-12 col-md-4 col-xl-3  px-2">
                <div class="card text-center">
                    <img src="/media/image-not-found.jpg" class="card-img-top" alt="Popular Products">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-xl-3  px-2">
                <div class="card text-center">
                    <img src="/media/image-not-found.jpg" class="card-img-top" alt="Popular Products">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div><div class="col-12 col-md-4 col-xl-3  px-2">
                <div class="card text-center">
                    <img src="/media/image-not-found.jpg" class="card-img-top" alt="Popular Products">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="d-none d-xl-block col-xl-3 px-2">
                <div class="card text-center">
                    <img src="/media/image-not-found.jpg" class="card-img-top" alt="Popular Products">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}