/* taken from https://courses.codeinstitute.net/courses/course-v1:CodeInstitute+FSF_102+Q1_2020/courseware/4201818c00aa4ba3a0dae243725f6e32/a5315728ccdf4f0792a0bc3c349e8329/?child=first */
html {
    height: 100%;
}

/* from Bulma */

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* bootstrap expanded classes */

.text-black {
    color: #000 !important;
}

.bg-black {
    background-color: #000;
}



/************************************ base header */

header a {
    color: rgba(0,0,0,.55);
}

.logo {
    text-transform: uppercase;
    padding: .5rem 0;
    text-align: center;
}
/************************************ Navbar */

.container ul {
  max-width: 500px;
  margin: 0 auto;
}

/************************************ home */

.home-image {
    background: url("/media/image-not-found.jpg") no-repeat center center fixed ;
    background-size: cover;
    height: calc(100vh - 164px);
}

/************************************ cards */

.card {
    text-align: center;
}

.card,
.list-group-item {
    border: none;
}

.card img {
    min-height: 200px;
    max-height: 300px;
}

.card-body {
    max-height: 60px;
}

.list-group-item {
    background-color: transparent;
}

.list-group-item:first-child {
    min-height: 120px;
}
