{% extends "base.html" %}
{% load static %}

{% block page_header %}

{% endblock %}

{% block content %}
    <div class="container mt-3">
        <div class="row">
            {% for sub in subscriptions %}
                <div class="col-12 col-md-4 col-xl-3 d-flex align-items">
                    <div class="card bg-success" style="width: 18rem;">
                        <img src="{{ sub.image_url }}" class="card-img-top" alt="{{ sub.name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ sub.name }}</h5>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">{{ sub.description }}</li>
                            <li class="list-group-item">£{{ sub.price }}</li>
                        </ul>
                        <div class="card-body">
                            <a href="#" class="btn btn-primary">Sign Up Today!</a>
                        </div>
                    </div>   
                </div>
            {% endfor %}
        </div>
    </div>
    
{% endblock %}
