{% extends "base.html" %}
{% load static %}

{% block page_header %}

{% endblock %}

{% block content %}
    <div class="container mt-3">
        <div class="row">
            {% for product in products %}
                <div class="col-12 col-md-4 col-xl-3 d-flex align-items">
                    <div class="card bg-success" style="width: 18rem;">
                        {% if product.image %}
                            <img src="{{ product.image_url }}" class="card-img-top" alt="{{ product.name }}">
                        {% else %}
                            <img src="{{ DEFAULT_IMAGE }}" class="card-img-top" alt="{{ product.name }}">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">{{ product.rating }}</li>
                            <li class="list-group-item"><strong>£{{ product.price }}</strong></li>
                        </ul>
                        <div class="card-body">
                            <a href="#" class="btn btn-primary">Add To Bag</a>
                        </div>
                    </div>   
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
